@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* reset css */
body, h1, h2, p, ul, li, header, main, p, div {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    appearance: none;
}

/* design */
body {
    position: relative;
    background-color:#EAE8FE;
}

header {
    text-align: center;
}

.heading1, .h2_1 {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.logo {
    width: 386px;
    height: 164px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 67px;
    margin-bottom: 171px;
}

.vending-machine {
    background-color: white;
    width: 360px;
    height: 545px;
    position: relative;
}

ul.drinks {
    position: absolute;
    top: 31px;
    left: 27px;
    width: 306px;
    height: 272px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

ul.drinks > li {
    border: 3px solid #ddd;
    border-radius: 10px;
    width: 94px;
    height: 130px;
    position: relative;    
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.drink-name {
    position: absolute;
    top: 82px;
    font-size: 9px;
    line-height: 13px;
}

.drink-price {
    position: absolute;
    width: 70px;
    height: 22px;
    top: 99px;
    margin-bottom: 9px;
    font-size: 12px;
    background: #6327FE;
    color: white;
    border-radius: 50px;
}

.btn1 {
    position: absolute;
    top: 323px;
    left: 27px;
    width: 200px;
    height: 32px;
    bottom: 190px;
    background: #EAE8FE;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.btn1_text {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}

.btn2 {
    position: absolute;
    width: 94px;
    height: 33px;
    left: 239px;
    bottom: 190px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #BDBDBD;
    border-radius: 5px;

}

.btn3 {
    position: absolute;
    width: 200px;
    height: 32px;
    left: 27px;
    bottom: 146px;
    /* Gray 4 */

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn4 { 
    position: absolute;
    width: 94px;
    height: 32px;
    left: 239px;
    bottom: 146px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.scroll {
    position: absolute;
    width: 200px;
    height: 106px;
    left: 27px;
    bottom: 28px;

    /* Gray 4 */

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn5 {
    position: absolute;
width: 94px;
height: 106px;
left: 239px;
bottom: 28px;
background: #6327FE;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
border-radius: 5px;
border-radius: 5px;
font-weight: 700;
font-size: 13px;
line-height: 19px;
color: #FFFFFF;

}

.my-info {
    width: 360px;
    height: 545px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.my-money {
    background-color: white;
    width: 360px;
    height: 50px;

}

.my-money-1 {
    background-color: white;

}

.my-drink {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 474px;
    background-color: white;
}

.drink-list {
    background-color: #EAE8FE;
}